.card
  .card-title
    %h2.text-primary.ml-4.mt-2 Editing labour
  .card-body
    = render 'form'

  = link_to [@labour.project, @labour], class: "btn btn-info" do
    %i.fa.fa-eye
  = link_to project_path(@labour.project), class: "btn btn-primary" do
    %i.fa.fa-arrow-left

