.card
  .card-body
    %p
      %b Weekend date:
      = @labour.weekend_date
    %p
      %b Weekly expense:
      = @labour.weekly_expense

  = link_to edit_project_labour_path(@labour.project, @labour), class: "btn btn-warning" do
    %i.fa.fa-edit

  = link_to project_path(@labour.project), class: "btn btn-primary" do
    %i.fa.fa-arrow-left
